<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remember faces game</title>
</head>

<body>
    <h1>Remember Faces Below</h1>

    <!-- Rendering Faces -->
    <% for (const question  of questions ) { %>
        <img src="<%= question.image %>" alt="image">
        <label for="imgage"><%= question.name %> </label>
    <% } %>

<script src="/javascripts/faces.js"></script>
</body>

</html>